.main {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    position: relative;


}

.main>.main1 {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;

}

.main>.main1>div {
    width: 100px;
    height: 100px;
    transition-duration: 1s;
}

.div1 {

    background-color: rgb(202, 59, 59);
    transform-origin: top left;
}



.div2 {

    background: rgb(18, 203, 31);
    transform-origin: top right;

}


.div3 {

    background: rgb(40, 189, 189);
    transform-origin: bottom left;
}

.div4 {
    background: rgb(43, 21, 212);
    transform-origin: bottom right;

}

.main:hover .div1 {

    transform-origin: top left;
    transform: rotate(90deg);

}

.main:hover .div2 {

    transform-origin: top right;
    rotate: -90deg;


}

.main:hover .div3 {
    transition-duration: 1s;
    transform-origin: bottom left;
    rotate: -90deg;

}

.main:hover .div4 {
    transition-duration: 1s;
    transform-origin: bottom right;
    rotate: 90deg;
}

h1 {
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
