* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
}

.main i {
    color: rgb(72, 79, 86);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hrdiv {
    position: relative;
    margin-bottom: 20px;
    width: 367px;
    margin-left: 375px;
    color: #495057;
}

.hrdiv span {
    position: absolute;
    top: 5px;
    right: 159px;
    background: #fff;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
}

.custom-select {
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn1 {
    background-color: rgb(65, 175, 236);
    border: none;
}

.btn2 {
    background-color: rgb(64, 94, 158);
    border: none;
}

.main {
    width: 373px;
    margin-left: 372px;
    position: relative;
}