.container{
 display: flex;
align-items: center;
justify-content: space-evenly;

}

 .yellow{
    width: 280px;
    height:300px;
    background-color: rgb(236, 178, 52);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
 }
 img{
     width: 280px;
     height: 167px;
     margin-top: 20px;
     border-radius: 1rem;
 }
 .blue{
    font-size: 18px;
    text-align: center;
     width: 280px;
     height: 300px;
     background-color: rgb(18, 22, 231);
     border-bottom-left-radius: 2rem;
     border-bottom-right-radius: 2rem;
     color: aliceblue;
 } 
 h2,h3 {
    color: aliceblue;
    text-align: center;
 }
 #qite1{
    margin: 0;
    padding-top: 10px;
 }
 #qite2{
    margin: 0;
    padding-top: 10px;
 }
 #qite3{
    margin: 0;
    padding-top: 10px;
 }
 #qite4{
    margin: 0;
    padding-top: 10px;
 }
