* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header .nav {
    position: relative;
    display: flex;
    list-style: none;

}

header .nav li a {
    color: rgb(5, 5, 5);
    margin: 40px;

}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

header a .birinci {
    color: black;
}

header a .ikinci {
    color: rgb(232, 176, 43);
}

.section1 {
    background-color: rgb(246, 242, 240);
    width: 100%;
    height: 100vh;
}

.content {
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;

}

.content .text {
    position: static;
    max-width: 600px;


}

.content .text h1 {
    color: #000;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: bold 400;



}

.content .text p {
    color: #323030e1;
    line-height: 1.5em;
    font-weight: bold 400;
}

.content .text p {
    color: #323030e1;
    line-height: 1.5em;
    font-weight: bold 400;
}

.icon a {

    font-size: 25px;
    color: #000;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 1.5rem ;

}

.content .me1 {
    color: #000;
    background-color: rgb(232, 176, 43);
    border-radius: 5px;
    width: 110px;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}


.text hr {
    width: 70px;
    border: 1px solid rgb(232, 176, 43);
}

.foto img {
    width: 200px;
    height: 350px;
    margin-left: -20px;
    border-radius: 10px;
    margin-top: -18px;

}

.foto div {
    border: 3px solid rgb(232, 176, 43);
    width: 200px;
    height: 360px;
    border-radius: 10px;
    margin-right: 300px;
    margin-top: 100px;


}

.foto1 img {
    width: 200px;
    height: 350px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: -18px;

}

.foto1 div {
    border: 3px solid rgb(232, 176, 43);
    width: 200px;
    height: 360px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 100px;
}

.melumat h1 {
    margin-left: 400px;
    margin-top: -353px;
    font-weight: bold;
    font-size: 40px;
}

.melumat hr {
    width: 70px;
    margin-left: 400px;
    border: 1px solid rgb(232, 176, 43);
}

.melumat p {
    width: 400px;
    margin-left: 400px;
    margin-top: 20px;
}

.melumat .me {
    margin-left: 400px;
    margin-top: 20px;
    color: #000;
    background-color: rgb(232, 176, 43);
    border-radius: 4px;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.section2 {
    width: 100%;
    height: 100vh;
}

.melumat1 h1 {
    font-weight: bold;
    font-size: 40px;
    border-radius: 10px;
    margin-left: 450px;
}

.melumat1 hr {
    width: 65px;
    margin-left: 490px;
    border: 1px solid rgb(232, 176, 43);
}

.card1 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 1rem;
    margin-top: 169px;
    position: relative;

}

.card2 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 1rem;
    margin-top: 169px;
    position: relative;
}

.card3 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 1rem;
    margin-top: 180px;
    position: relative;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.cards i {
    font-size: 30px;
}

.section3 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(228, 245, 245);
}
.melumat1{
    position: absolute;
    top: 50px;
}

.card1 hr {
    width: 50px;
    margin-left: 100px;
    border: 1px solid rgb(232, 176, 43);
    position: absolute;

}

.card2 hr {
    margin-left: 105px;
    width: 50px;
    border: 1px solid rgb(232, 176, 43);
    position: absolute;
}

.card3 hr {
    margin-left: 105px;
    width: 50px;
    border: 1px solid rgb(232, 176, 43);
    position: absolute;
}


.footer a {
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    color: rgb(232, 176, 43);


}

.footer {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 130px;
}

ul:hover,
a:hover {
    color: rgb(228, 191, 104);
}

.cards :hover {
    background-color: rgb(230, 168, 24);
}

header .nav li a:hover {
    color: rgb(230, 168, 24);
}

footer a:hover {
    color: rgb(235, 234, 233);
}

.me:hover,
.me1:hover {
    background-color: rgb(252, 178, 6);
}