*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.birinci{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    color:white;
   
}

.div1{
    font-size:50px ;
    display: flex;
    background-color: rgb(254, 6, 6);
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 70px;

}
.div2{
    width: 95px;
    height: 150px;
background-color: rgb(42, 165, 157);
}
.div3{
    font-size: 140px;
    width: 100px;
    height: 200px;
    background-color: blueviolet;
}

.div4{
    font-size: 170px;
    width: 150px;
    height: 400px;
    background-color:rgb(21, 2, 105)
}

.div5{
    font-size: 30px;
    width: 30px;
    height: 40px;
    background-color: rgb(207, 204, 0);
    margin-top: 70px;
    
}

.div6{
    width: 95px;
    height: 180px;
    background-color: rgb(201, 160, 182);
    
}

.div7{
    width: 95px;
    height: 180px;
    background-color: rgb(11, 72, 86);
}

.div8{
    width: 95px;
    height: 180px; 
    background-color: darkblue;
}

.div9{
    width: 95px;
    height: 180px;
    background-color: rgb(26, 255, 0);
}

.div10{
    width: 105px;
    height: 150px;
    background-color:rgb(200, 130, 16)
}