* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th,
td,
tr {
  border: 1px solid  #47dde0;
  padding: 7px 10px;
  font-weight: 600;
  text-align: center;
}

button {
  background-color: #47dde0;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px 0;
}


table tr:hover {
  background-color: #47dde0;
}
table th {
  background-color: #47dde0;
  color: white;
}
  .addElement{
    width: 100px;
  }